# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.idea/sonarlint/issuestore/3/c/3c0675d51dd938c1efac72c738ddb4860f1eb8ca
/.idea/sonarlint/issuestore/6/a/6a21312a91f9e7bad4966535a5bed0e3b2eeed1c
/.idea/sonarlint/issuestore/9/d/9d424f32886ea9a350339ffd58c24150540d7ff1
/.idea/sonarlint/issuestore/1/7/17f27e114a6dbdfd4fa6d2f29d3b07fef87a63a7
/.idea/sonarlint/issuestore/3/6/36f0b85552972611dd8d303e5b9862f34a1ac186
/.idea/sonarlint/issuestore/4/3/43b5e5a1166ac2691794b203729666ace3616a25
/.idea/sonarlint/issuestore/7/2/72ff4da208f1f1d99d7c507337c83e033dab5289
/.idea/sonarlint/issuestore/9/8/98ee3f1acd9506d26963562f570c48b23233414b
/.idea/sonarlint/issuestore/3/1/314da50ff3bb0d0bed24ae0cbcc5c90bfb1c2de3
/.idea/sonarlint/issuestore/3/2/324aa5b54b3376007f6eccdf63df932ff0248e8b
/.idea/sonarlint/issuestore/3/5/352f9ad95a050d1eb23da22a67283b175b402f06
/.idea/sonarlint/issuestore/4/9/490e87b326548864840aa21afc1555825fb08514
/.idea/sonarlint/issuestore/9/1/918efa95857e44b1197f4be4d5c416378544f044
/.idea/sonarlint/issuestore/9/6/960aee7d5956f35e7bcc2c89d2935a5f25bcb21a
/.idea/sonarlint/issuestore/4/4/442292b8a7efeabbe4cc176709b833b1792140ec
/.idea/sonarlint/issuestore/a/8/a8403db7e075ad24e194aa0bf3e5b906d2997d32
/.idea/aws.xml
/.idea/sonarlint/issuestore/b/6/b6985c58725752d68754618b45eb49e60c07662e
/.idea/sonarlint/issuestore/c/c/cce40df36f0b4e70c42924ea4b97b37e46bfd74c
/.idea/checkstyle-idea.xml
/.idea/compiler.xml
/.idea/sonarlint/issuestore/d/5/d5f00b06c7a4278bc99c42ba4f3cb1f57de2c0e9
/.idea/encodings.xml
/.idea/sonarlint/issuestore/index.pb
/.idea/jarRepositories.xml
/.idea/libraries/Maven__ch_qos_logback_logback_classic_1_2_11.xml
/.idea/libraries/Maven__ch_qos_logback_logback_core_1_2_11.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_13_3.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_13_3.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_13_3.xml
/.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jdk8_2_13_3.xml
/.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jsr310_2_13_3.xml
/.idea/libraries/Maven__com_fasterxml_jackson_module_jackson_module_parameter_names_2_13_3.xml
/.idea/libraries/Maven__com_jayway_jsonpath_json_path_2_7_0.xml
/.idea/libraries/Maven__com_vaadin_external_google_android_json_0_0_20131108_vaadin1.xml
/.idea/libraries/Maven__jakarta_activation_jakarta_activation_api_1_2_2.xml
/.idea/libraries/Maven__jakarta_annotation_jakarta_annotation_api_1_3_5.xml
/.idea/libraries/Maven__jakarta_xml_bind_jakarta_xml_bind_api_2_3_3.xml
/.idea/libraries/Maven__net_bytebuddy_byte_buddy_1_12_13.xml
/.idea/libraries/Maven__net_bytebuddy_byte_buddy_agent_1_12_13.xml
/.idea/libraries/Maven__net_minidev_accessors_smart_2_4_8.xml
/.idea/libraries/Maven__net_minidev_json_smart_2_4_8.xml
/.idea/libraries/Maven__org_apache_logging_log4j_log4j_api_2_17_2.xml
/.idea/libraries/Maven__org_apache_logging_log4j_log4j_to_slf4j_2_17_2.xml
/.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_core_9_0_65.xml
/.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_el_9_0_65.xml
/.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_websocket_9_0_65.xml
/.idea/libraries/Maven__org_apiguardian_apiguardian_api_1_1_2.xml
/.idea/libraries/Maven__org_assertj_assertj_core_3_22_0.xml
/.idea/libraries/Maven__org_hamcrest_hamcrest_2_2.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_5_8_2.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_8_2.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_engine_5_8_2.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_params_5_8_2.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_8_2.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_engine_1_8_2.xml
/.idea/libraries/Maven__org_mockito_mockito_core_4_5_1.xml
/.idea/libraries/Maven__org_mockito_mockito_junit_jupiter_4_5_1.xml
/.idea/libraries/Maven__org_mongodb_bson_4_6_1.xml
/.idea/libraries/Maven__org_mongodb_bson_record_codec_4_6_1.xml
/.idea/libraries/Maven__org_mongodb_mongodb_driver_core_4_6_1.xml
/.idea/libraries/Maven__org_mongodb_mongodb_driver_sync_4_6_1.xml
/.idea/libraries/Maven__org_objenesis_objenesis_3_2.xml
/.idea/libraries/Maven__org_opentest4j_opentest4j_1_2_0.xml
/.idea/libraries/Maven__org_ow2_asm_asm_9_1.xml
/.idea/libraries/Maven__org_projectlombok_lombok_1_18_24.xml
/.idea/libraries/Maven__org_skyscreamer_jsonassert_1_5_1.xml
/.idea/libraries/Maven__org_slf4j_jul_to_slf4j_1_7_36.xml
/.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_36.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_2_7_3.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_autoconfigure_2_7_3.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_2_7_3.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_data_mongodb_2_7_3.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_json_2_7_3.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_logging_2_7_3.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_security_2_7_3.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_test_2_7_3.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_tomcat_2_7_3.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_web_2_7_3.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_test_2_7_3.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_test_autoconfigure_2_7_3.xml
/.idea/libraries/Maven__org_springframework_data_spring_data_commons_2_7_2.xml
/.idea/libraries/Maven__org_springframework_data_spring_data_mongodb_3_4_2.xml
/.idea/libraries/Maven__org_springframework_security_spring_security_config_5_7_3.xml
/.idea/libraries/Maven__org_springframework_security_spring_security_core_5_7_3.xml
/.idea/libraries/Maven__org_springframework_security_spring_security_crypto_5_7_3.xml
/.idea/libraries/Maven__org_springframework_security_spring_security_test_5_7_3.xml
/.idea/libraries/Maven__org_springframework_security_spring_security_web_5_7_3.xml
/.idea/libraries/Maven__org_springframework_spring_aop_5_3_22.xml
/.idea/libraries/Maven__org_springframework_spring_beans_5_3_22.xml
/.idea/libraries/Maven__org_springframework_spring_context_5_3_22.xml
/.idea/libraries/Maven__org_springframework_spring_core_5_3_22.xml
/.idea/libraries/Maven__org_springframework_spring_expression_5_3_22.xml
/.idea/libraries/Maven__org_springframework_spring_jcl_5_3_22.xml
/.idea/libraries/Maven__org_springframework_spring_test_5_3_22.xml
/.idea/libraries/Maven__org_springframework_spring_tx_5_3_22.xml
/.idea/libraries/Maven__org_springframework_spring_web_5_3_22.xml
/.idea/libraries/Maven__org_springframework_spring_webmvc_5_3_22.xml
/.idea/libraries/Maven__org_xmlunit_xmlunit_core_2_9_0.xml
/.idea/libraries/Maven__org_yaml_snakeyaml_1_30.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/uiDesigner.xml
/user-management.iml
/.idea/vcs.xml
/.idea/workspace.xml
